@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Home Page</h1>
        <p>
            <a asp-controller="UserView" asp-action="getUsers">Ver utilizadores</a>
        </p>
        <p>
            <a asp-controller="UserView" asp-action="RegisterUser">Registo</a>
        </p>
        <p>
            <a asp-controller="Receitas" asp-action="GetReceitas">Ver Receitas</a>
        </p>
        <p>
            <a asp-controller="Receitas" asp-action="GetReceita">Ver Receita 1</a>
        </p>
        <div class="form-group">
            <input type="button" value="Receita" class="btn btn-default btn-primary" onclick="location.href='@Url.Action("GetReceita", "Receitas",new { id = 1})'" />
        </div>
    </div>
