@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<script src="https://cdnjs.cloudflare.com/ajax/libs/annyang/2.6.0/annyang.min.js"></script>

<script>
    window.onload = function () {
        if (annyang) {
            // Let's define a command.
            console.log("It detected annyang");
            var commands = {
                'Eloise': function () { alert('Hello world!'); }
            };

            // Add our commands to annyang
            annyang.addCommands(commands);

            // Start listening.
            annyang.start();
        }
    }
</script>

<p>Use this page to detail your site's privacy policy.</p>
