@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<script src="https://cdnjs.cloudflare.com/ajax/libs/annyang/2.6.0/annyang.min.js"></script>

<script>
    window.onload = function () {
        if (annyang) {
            // Let's define a command.
            console.log("It detected annyang");
            var commands = {
                'Eloise': function () { alert('Hello world!'); }
            };

            // Add our commands to annyang
            annyang.addCommands(commands);

            // Start listening.
            annyang.start();
        }
    }
</script>

<p>Use this page to detail your site's privacy policy.</p>


<button id='btnGiveCommand'>Give Command!</button>
<br><br>
<span id='message'></span>
<br><br>


<script>
    window.onload = function () {

        if (annyang) {
            // Let's define a command.
            console.log("It detected annyang");
            var commands = {
                'Heloise': function () {
                    var audio = new Audio('https://www.soundjay.com/button/beep-07.mp3');
                    audio.play();

                    alert('Error');
                }
            };

        }
    }

</script>

<script>
    function speak(input) {
        responsiveVoice.setDefaultVoice("Portuguese Female");
        responsiveVoice.speak(input);
    }
</script>

<script>
    window.onload = function () {

        if (annyang) {
            var message = document.querySelector('#message');
            var SpeechRecognition = SpeechRecognition || webkitSpeechRecognition;
            var SpeechGrammarList = SpeechGrammarList || webkitSpeechGrammarList;
            var grammar = '#JSGF V1.0;'
            var recognition = new SpeechRecognition();
            var speechRecognitionList = new SpeechGrammarList();
            speechRecognitionList.addFromString(grammar, 1);
            recognition.grammars = speechRecognitionList;
            recognition.lang = 'pt-PT';
            recognition.interimResults = false;
            recognition.onresult = function (event) {

                var last = event.results.length - 1;
                var command = event.results[last][0].transcript;
                message.textContent = 'Voice Input: ' + command + '.';

                switch (command.toLowerCase()) {
                    case 'próximo':
                        document.getElementById('next').click();
                        break;
                    case 'anterior':
                        document.getElementById('previous').click();
                        break;

                        break;
                    default:

                    // code block
                }

            };
            recognition.onspeechend = function () {
                recognition.stop();
            };
            recognition.onerror = function (event) {
                message.textContent = 'Error occurred in recognition: ' + event.error;
            }
            document.querySelector('#btnGiveCommand').addEventListener('click', function () {
                recognition.start();
            });

            // Add our commands to annyang
            annyang.addCommands(commands);
            // Start listening.
            annyang.start();
        }
    }

</script>