@{
    ViewData["Title"] = "Tutorial";
}
<script src="//code.responsivevoice.org/responsivevoice.js?key=3G053CLH"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/annyang/2.6.0/annyang.min.js"></script>
<script>
    function speak(input) {
        responsiveVoice.speak(input, "Portuguese Female");
    }
</script>

<script type="text/javascript" src="~/js/tutorial.js" charset="iso-8859-1"></script>

<script>speak('Olá eu sou a Éloíse, consigo executar vários comandos de voz, e assistir o processo de preparação de uma receita. Poderá procurar uma receita usando o comando procurar. seguido do nome do ingrediente, ou descrição da receita. Durante a preparação da receita poderá usar os comandos. seguinte. anterior. sair. repete. Consulte a tabela abaixo para ver todos os comandos disponíveis.');</script>
<div class="text-center">
    <h1 class="display-4">Tutorial</h1>
    <p> Olá eu sou a <b>Eloíse</b>, consigo executar vários comandos de voz e assistir o processo de preparação de uma receita. </p>

    <p>Poderá procurar uma receita usando o comando procurar seguido de um ingrediente ou descrição da receita</p>

    <p>
        Durante a preparação da receita os comandos disponíveis são:


        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Comando</th>
                    <th scope="col">Resultado</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">começar</th>
                    <td>Inicia a preparação da receita</td>
                </tr>
                <tr>
                    <th scope="row">próximo/seguinte</th>
                    <td>Vai para o próximo passo</td>
                </tr>
                <tr>
                    <th scope="row">volta/anterior</th>
                    <td>Vai para o próximo passo</td>
                </tr>
                <tr>
                    <th scope="row">passo "número" </th>
                    <td>Vai para o passo correspondente</td>
                </tr>
                <tr>
                    <th scope="row">sair</th>
                    <td>Abandona a preparação da receita</td>
                </tr>
                <tr>
                    <th scope="row">repete/repetir</th>
                    <td>Repete a instrução do passo</td>
                </tr>
                <tr>
                    <th scope="row">tutorial</th>
                    <td>Regressa a esta página</td>
                </tr>
                <tr>
                    <th scope="row">favorito</th>
                    <td>Adiciona a receita aos favoritos</td>
                </tr>
                <tr>
                    <th scope="row">loja</th>
                    <td>Encontrar a loja mais próxima</td>
                </tr>

            </tbody>
        </table>


</div>